h1 {margin-bottom:0;}
#encabezado {background-color:#ddf0a4;}
#contenido {background-color:#EEEEEE;height:600px;}
#pie
{background-color:#ddf0a4;color:#ff0000;height:30px;}
a {
    text-decoration: none;
}

td {
    padding: 15px;
    background-color: coral;
}

th {
    background-color: lightgreen;
}

table {
    text-align: center;
}

.pagproductos #cesta {
  float: right;
  width: 12em;
  background-color: #588;
}
.pagproductos #cesta h3 {
  margin-left: 10px;
  margin-right: 10px;
}
.pagproductos #cesta p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.pagproductos #cesta input[type="submit"] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  width:100px;
  height:30px;
  padding-left:0px;
}